* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
  font-size: 16px;
  color: #ffff;
  line-height: 1.05;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  font-family: inherit;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.618);
  flex-wrap: wrap;
  z-index: 0;
}

.logo img {
  width: 16rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu li a {
  padding: 8px 15px;
  text-transform: uppercase;
  color: #ffff;
  font-size: 1rem;
  font-weight: 400;
}

.menu li a:hover {
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  transition: 0.3s;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 80px;
  height: 100vh;
  width: 100%;
  margin-bottom: 50px;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .hero h1 {
  font-size: 6rem;
  color: #ffffff;
  font-weight: 700;
  display: inline-block;
}

.main .hero p {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 300;
}

.img-container img {
  width: 43vw;
  height: auto;
  object-fit: cover;
  box-shadow: 20px 20px rgb(255, 255, 255, 1);
}

/* .img-container img:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
} */

.btn {
  background: #fff;
  columns: #000;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  width: 150px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(0deg);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 50%;
  background: rgb(0, 0, 0);
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease;
}

.btn:hover {
  color: #fff;
  border: solid 1px #ffffff;
}

.btn:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

/* falcon section */

#falcon {
  background-image: url(./images/falcon9-01.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* mask-image: linear-gradient(
    transparent 0%,
    black 0%,
    black 90%,
    transparent 100%
  ); */
  padding: 0 80px;
  height: 100vh;
  width: 100%;
  z-index: 999;
}

#falcon {
  width: 100%;
  height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.para {
  padding: 20px 20px;
  width: 28rem;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #0000007a;
  box-shadow: 10px 10px #000000b5;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 0;
}

.card {
  color: black;
  width: 13.7rem;
  height: 100px;
  border-radius: 10px;
  background: #f5f5f5;
  position: relative;
  padding: 1.3rem;
  border: 2px solid #ffffff;
  transition: 0.5s ease-out;
  overflow: visible;
}

.card-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.card-button {
  font-family: inherit;
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #0077ff;
  color: #000000;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: #0077ff;
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
}

/*Text*/
.text-title {
  font-size: 1.35em;
  font-weight: bold;
}

.card:hover {
  border-color: #000000;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

/* launches section */

#launches {
  background-image: url(./images/falcon9-00.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  mask-image: linear-gradient(
    transparent 0%,
    black 0%,
    black 50%,
    transparent 100%
  );
  padding: 0 80px;
  height: 100vh;
  width: 100%;
  z-index: 1000;
}

.launch {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.launch h2 {
  font-size: 3.2rem;
  color: #ffffff;
  font-weight: 700;
  display: inline-block;
  padding-bottom: 15px;
}

.launch-title {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 400;
}

.launch-date,
.from {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 300;
}

#launch-countdown {
  font-family: inherit;
  padding-top: 20px;
  font-size: 2rem;
}

/* About section */

#about {
  padding: 0 80px;
  height: 90vh;
  width: 100%;
  /* z-index: 1000; */
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.about h2 {
  font-size: 3.2rem;
  color: #ffffff;
  font-weight: 700;
  display: inline-block;
  padding-bottom: 25px;
}

.about p {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #ffffff;
  font-weight: 200;
  width: 1080px;
  background-color: #0000007a;
  box-shadow: 10px 10px #000000b5;
}

/* Footer */

footer {
  height: 60px;
  width: 100%;
  bottom: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button {
  display: inline-block;
  padding: 0 12px;
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 470px) {
  nav {
    padding: 0 20px;
  }

  .logo img {
    width: 10rem;
    display: block;
    margin: 0 auto;
  }

  .container {
    padding: 0 20px;
  }

  .main{
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }

  .main .hero h1 {
    font-size: 2.5rem;
  }

  .main .hero p {
    font-size: 1rem;
    padding-bottom: 20px;
  }

  .img-container img {
    width: 60%;
  }

  .btn {
    width: fit-content;
  }

  .cards-container {
    padding: 20px 0;
  }

  .card {
    width: 100%;
  }

  .card-button {
    width: fit-content;
  }

  .card-details {
    gap: 0.2em;
  }

  .text-body {
    font-size: 1em;
  }

  .text-title {
    font-size: 1.2em;
  }

  .launch h2 {
    font-size: 30px;
  }

  .launch-title {
    font-size: 20px;
  }

  .launch-date,
  .from {
    font-size: 12px;
  }

  #launch-countdown {
    font-size: 20px;
  }

  .about h2 {
    font-size: 30px;
  }

  .about p {
    font-size: 15px;
    width: 100%;
  }

  footer {
    height: 100px;
  }

  .social-button {
    font-size: 1.2rem;
  }
    
}